<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

	<!-- feeds -->
	<link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="http://feed.feedsky.com/llgbuyi">
    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
		<p id="motohead">GOOD GOOD STUDY DAY DAY UP</p>
		<h1 class="title" ><a id="blogtitle" href="/">{{ site.name }}</a></h1>
		<br/>
	      <p id="catalog">
	      <a class="extra" href="/">HOME</a>|
	      <a class="extra" href="/types/technology.html">TECHNOLOGY</a>|
	      <a class="extra" href="/types/life.html">LIFE</a>|
	      <a class="extra" href="/types/tryanderror.html">DEFAULT</a>|
	      <a class="extra" href="/types/resume.html">ME</a>|
	       <span id="motocata">Concentrate On One Thing.</span>
	      </p>
            </div>
	    
                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Follow Me at Github<br />
                  Follow Me at Weibo
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="https://github.com/llgbuyi/" target="_Blank">github.com/llgbuyi</a><br />
                  <a href="http://weibo.com/2756807177/" target="_Blank">weibo.com/pipi小宝宝2014</a>
                </p>
              </div>
	      <div class="contact">
		  <p>
		  	Send Me Emails<br/>
			Add Me at QQ
		  </p>
	      </div>
	      <div class="contact">
		  <p>
			llgbuyi@163.com<br/>
			229631886
		  </p>
	      </div>
            </div>
	      <p id = "motofooter">Sunday don't come easily! 
	   	   <a id="subscribe" href="http://feed.feedsky.com/llgbuyi"><img src="/image/rss.png" alt="Subscribe to RSS Feed" id="rsspic"/></a>
		   <script src="http://s4.cnzz.com/stat.php?id=5420382&web_id=5420382&show=pic1" language="JavaScript"></script>
	      </p>
          </div>
        </div> <!-- /container -->

    </body>
</html>
